/*  ┌─────────────────────────────────────────────────────────────────────────┐ 
*   │                                                                         │░
*   │                               MAIN HEIGHT.                              │░
*   │                                                                         │░
*   └─────────────────────────────────────────────────────────────────────────┘░
*    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
.h-192 {
    height: 47rem;
}


/*  ┌─────────────────────────────────────────────────────────────────────────┐ 
*   │                                                                         │░
*   │                        FLICKITY JS GENERATED.                           │░
*   │                                                                         │░
*   └─────────────────────────────────────────────────────────────────────────┘░
*    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

.flickity-page-dots { display: block; }   
@media (min-width: 768px) { 
    .flickity-page-dots {
        display: none;
    }
}

/*  ┌─────────────────────────────────────────────────────────────────────────┐ 
*   │                                                                         │░
*   │                           MAIN CAROUSEL.                                │░
*   │                                                                         │░
*   └─────────────────────────────────────────────────────────────────────────┘░
*    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/

#flickity-main video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*  ┌─────────────────────────────────────────────────────────────────────────┐ 
*   │                                                                         │░
*   │                           CONTROLLER CAROUSEL.                          │░
*   │                                                                         │░
*   └─────────────────────────────────────────────────────────────────────────┘░
*    ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
#flickity-control .nav-item .progress {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    overflow: hidden;
    animation: animate-progress;
    animation-duration: 10s;
    z-index: 0;
    animation-play-state: paused;
}   


@keyframes animate-progress {
    100% {  width: 100%; }
}